:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: cursive;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

.title{
    margin: 10px auto;
    color: var(--grey);
    
}

.main{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main .maininput{
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 15px;
    background-color: var(--darker);
    color: var(--light);
    font-size: 15px;
}

.main .add{
    border-radius: 10px;
    margin-left: 10px;
    background-color: var(--grey);
    cursor: pointer;
    font-weight: bold;
}

h2{
    margin: 10px auto;
    color: var(--grey); 
}

.task{
    margin: 0 auto;
    width: 20%;
    text-align: center;
}

@media (max-width:767px){
    .task{
        width: 80%;
    }
}

.nodata{
    background-color: var(--purple);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.taskdata{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.taskdata button{
    border-radius: 8px;
    padding: 6px;
    background-color: var(--purple);
    font-size: 15px;
}

.taskdata p{
    padding: 6px;
    font-size: 20px;
}